body
{
    margin: 0 auto;
}
.bienvenue
{
    margin: 0 auto;
    text-align: center;
}
#profil
{
    height: 600px;
    display: flex;
}
.reinitialise
{
    margin: 0 auto;
    color: #93d734;
    text-align: center;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 10%;
}
.reinitialise:hover
{
    color: #7916a1;
}