main
{
    border: 4px solid #7916a1;
    border-radius: 3%;
    height: 600px;
    display: flex;
}
.prise
{
    width: 50%;
    border-radius: 5%;
    border: 2px solid #7916a1;   
}
.image
{
    text-align: center;
    margin: 0 auto;
    width: 25%;
}
.image_galerie
{
    width: 25%;
    /* border: 2px solid magenta; */
}
.prise > h1
{
    text-align: center;
}
.image > img
{
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: column;
}
article
{
    margin: 0 auto;
}
video
{
    z-index: 1;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.png_prise
{
    z-index: 10;
    width: 40%;
}
#canvas
{
    display: flex;
    justify-content: center;
    margin: 40% auto;
}
.majin
{
    margin: 0 auto;
    position: relative;
    top: -60px;
    left: 640px;
    width: 10%;
    height: 10%;
}
.saiya
{
    position: relative;
    top: -500px;
    left: 200px;
    width: 40%;
    height: 50%;
}